<!-- <div class="home-container" tyle="padding-top: 10vh; color: #fff">
    <div class="row">
      <div class="col">
        <p class="display-1 fadein text-white">
          Daniel Cassin
        </p>
      </div>
    </div>
  </div> -->

<section id="mainContent">
  <div class="container fadein">
    <div class="row mt-5">
      <div class="col-md-6 col-xl-4">
        <img
          src="../../assets/logo-color.png"
          class="img-fluid object-fit-sm-contain border rounded"
          alt="..."
        />
      </div>
      <div class="col-md-6 col-xl-6">
        <div class="row">
          <div class="col">
            <!-- <span class="display-4 text-muted">Daniel Cassin</span> -->
            <p class="display-5">Daniel Cassin</p>
            <p class="mt-3">
              <em style="font-weight: 500; color: #020b1d"
                >Full Stack Software Engineer</em
              >
              with over 15 years professional development experience on the
              Microsoft stack and a deep commitment to producing optimized,
              scalable, and responsive applications from design to deployment.
            </p>
          </div>
        </div>
        <div class="row mt-5 mb-5 div-summary">
          <div class="col-md-4 text-center pb-4">
            <i class="fa fa-fighter-jet text-white fa-lg img-fast"></i>
            <div class="row">
              <div class="col">
                <span class="display-6 text-center text-muted">Fast</span>
                <!-- <p>Run times and optimal performance</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center pb-4">
            <i class="fa fa-thumbs-up text-white fa-lg img-intuitive"></i>
            <div class="row">
              <div class="col">
                <span class="display-6 text-center text-muted">Intuitive</span>
                <!-- <p>Easy to use, visually appealing UI/UX</p> -->
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <i class="fa fa-repeat text-white fa-lg img-responsive"></i>
            <div class="row">
              <div class="col">
                <span class="display-6 text-center text-muted">Responsive</span>
                <!-- <p>Any screen or device, large or small</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <span class="display-5 text-center pb-2 text-muted">Skills</span>
    </div>
    <div class="row mt-2">
      <div class="col-md-4 pb-2">
        <div class="card text-center h-100">
          <div class="card-header">
            <p class="my-font-1">Environments</p>
          </div>
          <div class="card-body">
            <h1><i class="fa fa-windows i-skills"></i></h1>
            <p>C#, .NET Core 7.0, Angular</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-2">
        <div class="card text-center h-100">
          <div class="card-header">
            <p class="my-font-1 text-center">Cloud</p>
          </div>
          <div class="card-body">
            <h1><i class="fa fa-cloud i-skills"></i></h1>
            <p>
              <a
                class="external-link"
                href="https://learn.microsoft.com/en-us/users/23538295/credentials/d5e9cb23f8228d11"
                target="_blank"
                >AZ-900 Microsoft Azure Fundamentals
                <i class="fa fa-external-link" aria-hidden="true"></i
              ></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-2">
        <div class="card text-center h-100">
          <div class="card-header">
            <p class="my-font-1 text-center">Database</p>
          </div>
          <div class="card-body">
            <h1><i class="fa fa-database i-skills"></i></h1>
            <p>Microsoft SQL Server, Azure SQL</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 pb-2">
        <div class="card text-center h-100">
          <div class="card-header">
            <p class="my-font-1 text-center">Design</p>
          </div>
          <div class="card-body">
            <h1><i class="fa fa-sitemap i-skills"></i></h1>
            <p>Responsive Web Design, HTML, CSS</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-2">
        <div class="card text-center h-100">
          <div class="card-header">
            <p class="my-font-1 text-center">Testing</p>
          </div>
          <div class="card-body">
            <h1><i class="fa fa-retweet i-skills"></i></h1>
            <p>Test Driven Development: Unit Testing, MS Test</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 pb-2">
        <div class="card text-center h-100">
          <div class="card-header">
            <p class="my-font-1 text-center">Architecture</p>
          </div>
          <div class="card-body">
            <h1><i class="fa fa-window-restore i-skills"></i></h1>
            <p>SOLID Design Principles, Data Structures, Algorithms</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 mb-4 text-center reveal">
      <span class="display-5 text-center"> Demos </span>
    </div>
    <div class="row mt-5 div-demo-summary reveal">
      <div class="col-md-6 col-xl-4">
        <img
          src="../../assets/anete-lusina-zwsHjakE_iI-unsplash (1).jpg"
          class="img-fluid object-fit-sm-contain border rounded"
          alt="..."
        />
      </div>
      <div class="col-md-6 col-xl-8">
        <p class="display-6">E-Commerce</p>
        <p>
          E-Commerce online store demo allows uses view, filter, search, sort,
          and add products to their shopping cart. Products extracted from
          Microsoft Adventure Works database
        </p>
        <p>
          <a
            class="btn btn--with-icon"
            href="https://angular-e-commerce-adventure.netlify.app/#/"
            target="_blank"
            type="button"
          >
            <i class="btn-icon fa fa-long-arrow-right"></i> VIEW DEMO
          </a>
        </p>
      </div>
    </div>
    <div class="row mt-5 div-demo-summary reveal">
      <div class="col-md-6 col-xl-4">
        <img
          src="../../assets/markus-winkler-IrRbSND5EUc-unsplash (1).jpg"
          class="img-fluid object-fit-sm-contain border rounded"
          alt="..."
        />
      </div>
      <div class="col-md-6 col-xl-8">
        <p class="display-6">Sales Tracker</p>
        <p>
          Sales Tracker demo uses the .NET Core API to retrieve individual
          employee sales data for each member of the team. It also various
          Syncfusion charts to display individual and aggregate data
        </p>
        <div class="mt-2">
          <p>
            <button
              class="btn btn--with-icon"
              (click)="navigate('sales-tracker')"
              type="button"
            >
              <i class="btn-icon fa fa-long-arrow-right"></i> VIEW DEMO
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-5 div-demo-summary reveal">
      <div class="col-md-6 col-xl-4">
        <img
          src="../../assets/leetcode-baseball-hat.png"
          class="img-fluid object-fit-sm-contain border rounded"
          alt="..."
        />
      </div>
      <div class="col-md-6 col-xl-8">
        <p class="display-6">Leet Code</p>
        <p>
          This demo contains my solutions to over 40 leet code problems in both
          C# and JavaScript
        </p>
        <div class="mt-2">
          <p>
            <button
              class="btn btn--with-icon"
              (click)="navigate('leet-code')"
              type="button"
            >
              <i class="btn-icon fa fa-long-arrow-right"></i> VIEW DEMO
            </button>
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="row mt-5 div-demo-summary reveal">
            <div class="col-md-6 col-xl-4">
                <img src="../../assets/carli-jeen-UWRqlJcDCXA-unsplash (1).jpg"
                    class="img-fluid object-fit-sm-contain border rounded" alt="..." />
            </div>
            <div class="col-md-6 col-xl-8">
                <p class="display-6">Order History</p>
                <p>
                    Order Tracking demo uses Angular & .NET Core REST API to search and
                    display summary and detail data for customers order histories
                </p>
                <div class="mt-2">
                    <p>
                        <button class="btn btn--with-icon" (click)="navigate('customer-orders')" type="button">
                            <i class="btn-icon fa fa-long-arrow-right"></i> View Demo
                        </button>
                    </p>
                </div>
            </div>
        </div> -->
    <div class="mt-5 mb-4 text-center reveal">
      <span class="display-5 text-center"> Articles </span>
    </div>
    <div class="row reveal">
      <app-articles></app-articles>
    </div>
    <div class="row mt-5 div-center">
      <div class="col">
        <a
          href="https://learn.microsoft.com/en-us/users/23538295/credentials/d5e9cb23f8228d11"
          target="_blank"
          title="Microsoft Certified: Azure Fundamentals"
        >
          <img
            src="../../assets/az900_badge.png"
            class="img-fluid object-fit-sm-contain border rounded"
            style="cursor: pointer"
            alt="..."
        /></a>
      </div>
    </div>
    <!-- <div class="row mt-5 div-center">
            <div class="col">
                <a href="https://learn.microsoft.com/en-us/users/23538295/credentials/d5e9cb23f8228d11" target="_blank" title="Microsoft Certified: Azure Fundamentals">
                    <img src="../../assets/az900_badge.png" class="img-fluid object-fit-sm-contain border rounded"
                        style="cursor: pointer;" alt="..." /></a>
            </div>
        </div> -->
  </div>
</section>
