<nav class="navbar navbar-dark fixed-top navbar-expand-lg bg-dark  mb-5">
  <div class="container">
    <!-- <a class="navbar-brand text-white" [routerLink]='["home"]'>
      <div>


      </div>
    </a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span style="color:white;" class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
        <li class="nav-item" [routerLinkActive]="['active']" data-bs-target=".navbar-collapse.show"
          data-bs-toggle="collapse">
          <a class="nav-link active" title="Home" [routerLinkActive]="['active']" [routerLink]="['home']"
            [routerLinkActiveOptions]="{ exact: true, isActive: true }">Home</a>
        </li>
        <!-- <li class="nav-item dropdown" [routerLinkActive]="['active']">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" title="E-Commerce Demo"
            aria-expanded="false">
            E-Commerce 
          </a>
          <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdown" data-bs-target=".navbar-collapse.show"
            data-bs-toggle="collapse">
            <a class="dropdown-item" title="Products" [routerLinkActive]="['active']"
              [routerLink]="['products']">Products</a>
            <a class="dropdown-item" title="Product Summary" style="display: none" [routerLinkActive]="['active']"
              [routerLink]="['product']">Product Summary</a>
            <a class="dropdown-item" title="Shopping Cart" [routerLinkActive]="['active']"
              [routerLink]="['shopping-cart']">Shopping Cart</a>
            <a class="dropdown-item" title="Checkout" [routerLinkActive]="['active']"
              [routerLink]="['checkout']">Checkout</a>
            <a class="dropdown-item" title="Confirmation" style="display: none" [routerLinkActive]="['active']"
              [routerLink]="['confirmation']">Confirmation</a>
          </div>
        </li> -->
       
        <li class="nav-item" [routerLinkActive]="['active']" data-bs-target=".navbar-collapse.show"
          data-bs-toggle="collapse">
          <a class="nav-link" title="Sales Tracker Demo" [routerLinkActive]="['active']"
            [routerLink]="['sales-tracker']">Sales Tracker</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" data-bs-target=".navbar-collapse.show"
          data-bs-toggle="collapse">
          <a class="nav-link" title="Leet Code Questions" [routerLinkActive]="['active']"
            [routerLink]="['leet-code']">Leet Code</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" data-bs-target=".navbar-collapse.show"
          data-bs-toggle="collapse">
          <a class="nav-link" title="Experience" [routerLinkActive]="['active']"
            [routerLink]="['experience']">Experience</a>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " href="https://github.com/dcassin2082/" target="_blank" title="Github"><i
                class="fa fa-github-square fa-lg"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/channel/UCWUeSMVv-c0tXM8dPoDv8vQ/" target="_blank"
              title="Youtube"><i class="fa fa-youtube-play fa-lg"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/daniel-cassin-6a12bb287/" target="_blank"
              title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://learn.microsoft.com/en-us/users/23538295/credentials/d5e9cb23f8228d11"
              target="_blank" title="Azure 900 Certification"><i class="fa fa-windows fa-white"></i>
            </a>
          </li>

        </ul>
      </form>
    </div>
  </div>
</nav>