<style>
  a {
    color: #fff;
    text-decoration: none;
  }

  p {
    color: #fff;
  }
</style>
<!-- &#9657; -->
<div class="div-center div-footer" style="background-color: black;">
  <footer class="fadein footer ">
   
    <!-- <p style="padding-top:5px" id='datetime'>&copy; {{year}} - Daniel Cassin</p> -->
    <p style="padding-top:10px;"> 
      <span><i class="fa fa-phone text-white"></i> 480.234.5938</span>&nbsp;&nbsp;&nbsp;<i
        class="fa fa-envelope text-white"></i> <a href="mailto:dcassin2023@gmail.com"> dcassin2023@gmail.com</a>
       
    </p>
    <p><a href="https://github.com/dcassin2082/" target="_blank" title="Github"><i
          class="fa fa-github-square fa-lg"></i> &nbsp;&nbsp;&nbsp;</a> <a
        href="https://www.youtube.com/channel/UCWUeSMVv-c0tXM8dPoDv8vQ/" target="_blank" title="Youtube"><i
          class="fa fa-brands fa-youtube-play fa-red fa-lg"></i> &nbsp;&nbsp;&nbsp;
      </a> 
      <a href="https://www.linkedin.com/in/daniel-cassin-6a12bb287/" target="_blank"
      title="LinkedIn"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
    </a>
    </p>
  </footer>
</div>